<div class="container col-6">
  <h1><%= @list.name %></h1>
  <ul>
    <% @list.all_favorited.each do |fav| %>
      <li class="card vtuber-card">
        <p><%= fav.name %></p>
        <%= image_tag fav.photo_url, class: "vtuber-pic" if fav.photo_url %>
        <p><%= fav.agency.name %></p>
        <p><%= fav.description %></p>
        <%= link_to "Channel", fav.channel %>

      </li>
    <% end %>
  </ul>
</div>
<div class="container col-4">
</div>
<div class = "container col-6">
  <%= link_to "Go back", :home %>
</div>
<div class="container form col-4">
  <h2>Add VTuber</h2>
  <%#simple_form_for [@list] do |f| %>
    <%#= f.association :vtuber %>
    <%# <div class="form-actions"> %>
    <%#= f.button :submit %>
    <%# </div> %>
  <%# end %>
</div>
