<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="projects">
        <h2> My Projects</h2>
        <div class="project-section">
          <div class="project-card">
            <div class="project-description">
              <h3>LuxeHaven</h3>
              <p>A marketplace web app for renting suits, cars, watches, and other luxury items. Made with a team of four people as part of the Le Wagon coding bootcamp.</p>
            </div>
            <div class="project-pictures">
              <%= image_tag 'luxehaven.png', class: 'project-photo' %>
            </div>
          </div>

          <div class="project-card">
            <div class="project-description">
              <h3>Crok'</h3>
              <p>A dog fitness management app. Make a log of your dog's body composition and exercise level, and the app will keep track of its fitness over time so you can make adjustments to its exercise and diet. Make reminders to feed your dog, take them for a walk, or take them to the vet. You can also have your family use the app and assign them tasks.</p>
            </div>
            <div class="project-pictures">
            </div>
          </div>

          <div class="project-card">
            <div class="project-description">
              <h3>VTuber List</h3>
              <p>An app for finding and making lists of VTubers. Make a list of your favorite VTubers and share them with your friends so they can roast you for your bad taste. Search for VTubers by name, agency, or tags, or look up a bunch of random VTubers at once.</p>
              <p>This project is based on the movie watchlist assignment from Le Wagon and was built using Ruby on Rails and a template from Le Wagon. I did all of the coding and design.</p>
              <p>I made this app because I like discovering new, small VTubers, and I kept getting random VTubers recommended to me every time I opened up YouTube. At first, I kept saving their VODs to my playlists on YouTube, but after I had three playlists full of VTubers, I lost track of which ones I already added and which VTuber I put in which playlist.</p>
              <p>So then I decided to make this app so I could keep track of the VTubers I found.</p>
            </div>
            <div class="project-pictures">
              <%= image_tag "vtuber_list_1.png", class: "project-photo", id: "vtuberlist-photo-home" %>
            </div>
          </div>
          <div class="project-pictures-large">
              <%= image_tag "vtuber_list_2.png", class: "project-photo" %>
          </div>
        </div>

        <div class="cards">
          <% data.projects.each do |project| %>
            <div class="card-product">
              <%= image_tag project.image, alt: "project image" %>
              <div class="card-product-infos w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <h2><%= project.name %></h2>
                  <div class="card-links">
                    <% link_to project.github, class: 'external-link', target: '_blank' do %>
                      <i class="fa-brands fa-github"></i>
                    <% end %>
                    <% if project.online?  %>
                      <% link_to project.url, class: 'external-link', target: '_blank' do %>
                        <i class="fas fa-external-link-alt"></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <p><%= project.description %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
