<div id="<%= current_user.id %>" class="home-list-container" data-controller="list-sortable" >
      <% @lists.each do |list| %>
        <div id="<%= list.id %>" class="home-list-card" data-controller="home-options" >

          <div class="home-list-vtuber-row">

            <% list.get_vtuber_row.each do |vtuber| %>
              <div class="home-vtuber-card">
                <%# <div class="vtuber-card-pic"> %>
                    <%= render "shared/vtuber_picture", vtuber: vtuber %>
                <%# </div> %>
              </div>
            <% end %>
          </div>


              <div class="home-list-name">
                <h4><%= list.name %></h4>
              </div>
              <div class="home-list-count">
                <p><i class="fa-solid fa-chalkboard-user" ></i> <%= list.vtuber_markers.length %>

                  <% if list.private %>
                    <span id="private-icon" data-home-options-target="left_private_icon">
                      <i class="fa-solid fa-lock"></i>
                    </span>
                  <% else %>
                    <span id="private-icon" class="d-none" data-home-options-target="left_private_icon">
                      <i class="fa-solid fa-lock"></i>
                    </span>
                  <% end %>

                </p>
              </div>

              <div class="options-button" data-home-options-target="toggle_button" data-action="click->home-options#toggle_menu" >
                <i class="fa-solid fa-bars" ></i>
              </div>
              <div class="home-options-container d-none" data-home-options-target="menu" >
                <div class="home-options-menu" data-home-options-target="submenu1" >
                  <%= link_to edit_list_path(list), class:"options-link" do %>
                    <i class="fa-solid fa-pencil"></i> Rename this list
                  <% end %>
                  <%= link_to list_path(list),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" },
                  class: "options-link" do
                  %>
                    <i class="fa-solid fa-eraser"></i> Delete this list
                  <% end %>
                  <div data-home-options-target="private-button" data-action="click->home-options#private">
                    <%= form_with remote: true, url: :toggle_private, method: :patch do |f| %>
                      <%= f.hidden_field :id, value: list.id %>
                      <%= button_tag class: "private-button" do %>
                        <% if list.private %>
                          <span class="privated" data-home-options-target="right_private_icon">
                            <i class="fa-solid fa-lock"></i> Unprivate
                          </span>
                        <% else %>
                          <span class="unprivated" data-home-options-target="right_private_icon">
                            <i class="fa-solid fa-lock-open"></i> Private
                          </span>
                        <% end %>
                      <% end %>
                    <% end %>

                  </div>

                </div>

              </div>


          <%= link_to list do %>
            <div class="click-box">
            </div>
          <% end %>

        </div>
      <% end %>
    </div>
