<div class="list-cards">
    <% @vtubers.each do |vtuber| %>
      <div class="vtuber-card">
        <div class="vtuber-card-pic">
            <%= render "shared/vtuber_picture", vtuber: vtuber %>
        </div>
        <div class="vtuber-card-body">
          <p><%= vtuber.name %></p>
          <%= link_to vtuber_path(vtuber) do %>
            <div class="click-box">
            </div>
          <% end %>
          <div class="vtuber-card-footer">
            <%= link_to vtuber.yt_channel, target: :blank do %>
              <i class="fa-brands fa-youtube" style="color: #ff0000;"></i>
            <% end %>
            <%= link_to vtuber.twitch_channel, target: :blank do %>
              <i class="fa-brands fa-twitch" style="color: #7d52ff;"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
