<div class="container col-6">
  <%#= link_to "Go back", :back %>
  <h2><%= @agency.name %></h2>
  <% if @agency.name != "Indie" %>
    <p>Country: <%= @agency.location %></p>
  <% end %>
  <% if @agency.website %>
    <%= link_to "Website", @agency.website, target: :blank %>
  <% end %>
  <% if @agency.yt_channel%>
    <h4><%= link_to @agency.yt_channel, target: :blank do %>
        <i class="fa-brands fa-youtube" style="color: #ff0000;"></i>
      <% end %></h4>
  <% end %>
  <% if !@agency.active %>
    <p><%= @agency.name %> is not active.</p>
  <% end %>
  <p><%= @agency.description %></p>
  <% if !@vtubers %>
    <p>This agency has no VTubers</p>
  <% else %>
    <% if @agency.name == "Indie" %>
      <p><span class="search-result-number"><%= @vtubers.length %></span> indie VTubers in this database.</p>
    <% else %>
      <p><span class="search-result-number"><%= @vtubers.length %></span> VTubers from this agency in this database.</p>
    <% end %>
    <%= render "shared/vtuber_grid_display", vtubers: @vtubers %>
  <% end %>
</div>
