<div class="container col-6">
  <h2><%= @agency.name %></h2>
  <p><%= @agency.description %></p>
  <p><%= @agency.location %></p>
  <%# number of vtubers: %>
  <%= link_to "Website", @agency.website, target: :blank %>
  <h4><%= link_to @agency.yt_channel, target: :blank do %>
    <i class="fa-brands fa-youtube" style="color: #ff0000;"></i>
  <% end %></h4>


    <% if !@agency.active %>
      <p><%= @agency.name %> is not active.</p>
    <% end %>
</div>
