<div class="container col-12 col-lg-6">
  <% if !(user_signed_in? && current_user.role == "admin") %>
    <%= render "shared/unauthorized" %>
  <% else %>
    <h2>Edit VTuber</h2>
    <%= simple_form_for(@vtuber) do |f| %>
      <%= f.input :name %>
      <%= f.input :jp_name, label: "JP name" %>
      <%= f.association :agency, collection: @agencies %>
      <%= f.input :gender, collection: ["female", "male", "neutral"] %>
      <%= f.input :birthday, discard_year: true, discard_time: true, include_blank: true %>
      <%= f.input :debut_date, start_year: 1970, include_blank: true %>
      <%= f.input :description, as: :text %>
      <%= f.input :main_language %>
      <%= f.input :yt_channel, label: "YouTube channel" %>
      <%= f.input :twitch_channel %>
      <%= f.input :active, as: :boolean %>
      <%= f.input :thumbnail, as: :file %>
      <%= f.input :vertical_picture, as: :file %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>


      <%#= f.input :photos, as: :file, input_html: { multiple: true } %>
      <div class="form-actions">
        <%= f.button :submit, class:"btn-create" %>
      </div>

      <%# <h2>Add tags</h2> %>

    <% end %>
    <div class="add-tags-container">
      <h2>Add Tags</h2>
      <% if !@vtuber.addable_tags.empty? %>
        <%= form_with url: :add_tag, method: :patch do |f| %>
          <%= f.select :tag_name, @vtuber.addable_tags %>
          <%= f.submit :submit, label: "Add tag" %>
        <% end %>
      <% end %>
      <h2>Remove Tags</h2>
      <% if @vtuber.tag_names.empty? %>
        <p>This VTuber has no tags.</p>
      <% else %>
        <%= form_with url: :remove_tag, method: :patch do |f| %>
          <%= f.select :tag_name, @vtuber.tag_names %>
          <%= f.submit :submit, label: "Remove tag" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
