<div class="container col-6">
  <%= link_to "Go back", :back %>
  <%= link_to "Edit VTuber info", edit_vtuber_path %>
  <div class="container-2">
      <div class="show-card">

        <%= render "shared/vtuber_picture", vtuber: @vtuber %>
        <%#= image_tag @vtuber.photo_url, class: "vtuber-pic" if @vtuber.photo_url %>


        <div class="show-card-body">
          <div class="badge-group">
            <h3><span class="fw-bold show-card-name"><%= @vtuber.name %></span>
            <% if @vtuber.yt_channel %>
              <%= link_to @vtuber.yt_channel, target: :blank do %>
                <i class="fa-brands fa-youtube" style="color: #ff0000;"></i>
              <% end %>
            <% end %>
            <% if @vtuber.twitch_channel %>
              <%= link_to @vtuber.twitch_channel, target: :blank do %>
                <i class="fa-brands fa-twitch" style="color: #7d52ff;"></i>
              <% end %>
            <% end %>
            </h3>
          </div>
          <div class="show-card-content">
            <h4><span class="agency-button"><%= link_to @vtuber.agency.name, agency_path(@vtuber.agency) %></span></h4>
            <p class="text"><%= @vtuber.description %></p>
            <div class="show-card-dates">
              <p>Birthday: <%= @vtuber.get_birthday %></p>
              <p>Debut date: <%= @vtuber.get_debut_date %>
              <p>Gender: <%= @vtuber.gender.capitalize %></p>
              <p>Main language: <%= @vtuber.main_language %></p>
              <% if !@vtuber.active %>
                <p><%= @vtuber.name %> is not active.</p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="show-card-footer">
          <div class="tags-container">
            <h4>Tags</h4>
            <% @vtuber.tags.each do |tag| %>
              <span class="tag-button"><%= link_to tag.name, tag_path(tag) %></span>
            <% end %>
            </div>
          </div>
        <h4>Add this VTuber to a list</h4>
        <%= simple_form_for @marker do |f| %>
          <%= f.hidden_field :vtuber_id, value: Vtuber.find(params[:id]).id %>
          <%= f.association :list, collection: @lists%>
          <div class="form-actions">
            <%= f.button :submit, value: "Add VTuber", class: "btn btn-info" %>
          </div>
        <% end %>
        <h4>Add tag</h4>

      </div>
    </div>
</div>
