<div class="container col-12 col-lg-6">
  <h1 style="font-family: 'Patrick Hand';">VTuber List</h1>
  <h2>Your lists</h2>
  <% @lists.each do |list| %>
    <div class="home-list-card">
      <div class="home-list-vtuber-row">
        <% 5.times do |i| %>
          <div class="home-vtuber-card">
            <div class="vtuber-card-pic">
                <%= render "shared/vtuber_picture", vtuber: list.get_random_vtuber %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="home-list-text">
        <h4><%= list.name %></h4>
        <p><%= list.vtuber_markers.length %> VTubers</p>
      </div>


      <%= link_to list do %>
        <div class="click-box">
        </div>
      <% end %>
    </div>
  <% end %>

  <%= link_to "See Agencies", agencies_path %>
  <%= link_to "See Tags", tags_path %>
  <h4>Admin only</h4>
  <%= link_to "Add VTuber Entry", new_vtuber_path %>
  <%= link_to "Add Agency Entry", new_agency_path %>
</div>
