<div class="container ">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Social Links Section -->
  <%= partial 'partials/tabs' %>
  <%= partial 'partials/tech' %>
  <%= partial 'partials/favorites' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!--Forbidden Section -->
  <%= partial 'partials/forbidden' %>
</div>
